* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Helvetica;
}
#email .red{
  border: 2px solid  #ff0033;
}
a {
  text-decoration: none;
  color: #354463;
}
ul {
  list-style: none;
}
#head{
  justify-content: space-around;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#branding {
  padding-top: 16px;
  padding-bottom: 16px;
  color: #354463;
}
#branding-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-around;
}
#branding-container nav {
  display: flex;
  justify-content: space-around;
  min-width: 40%;
  max-width: 40%;
}
.container #donate {
  min-width: 15%;
  max-width: 20%;
  padding-right: 5%;
  flex-grow: 1;
}
button {
  width: 100%;
  height: 49px;
  background: #c1f7d5 0% 0% no-repeat padding-box;
  border-radius: 100px;
  color: #354463;
  opacity: 1;
  border: 0px;
  text-align: center;
  font: normal normal bold 18px/22px Helvetica;
}
#section-the-issue {
  background-size: 100%;
  background: #354463 url("../img/home/annie-spratt-135307-unsplash.png") center /
    cover;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#section-the-issue #the-issue {
  max-width: 40%;
  background: #ffff;
  padding: 5%;
  margin: 10%;
}
#the-issue h5 {
  background: #354463;
  position: relative;
  display: inline-block;
  transform: translateY(-170%);
  padding: 5%;
  padding-left: 15%;
  padding-right: 15%;
  color: #ffff;
}
#the-issue p {
  position: relative;
  transform: translateY(-25%);
  font: bold 42px helvetica;
  color: #354463;
}
#stop {
  max-width: 40%;
  padding: 5%;
  margin: 10%;
  padding-left: 0;
  margin-left: 0;
  margin-top: 5%;
  font: normal normal normal 32px/46px flood-Std;
}
#stop h2 {
  font: normal normal normal 200% Flood-Std;
  color: #ffff;
}
#take-action-section {
  background: #c1f7d5;
  flex-direction: column;
}
#take-action {
  background: #354463;
  position: relative;
  display: inline-block;
  transform: translateY(-50%);
  padding: 1.5%;
  padding-left: 5%;
  padding-right: 5%;
  color: #ffff;
}
#inner-take-action-section {
  display: flex;
  min-width: 100%;
  padding: 5%;
  padding-top: 1%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
#inner-take-action-section div {
  color: #354463;
  max-width: 20%;
}
#inner-take-action-section h3 {
  text-align: left;
  font: normal normal bold 28px/36px Helvetica;
}
#inner-take-action-section p {
  text-align: left;
  font: normal normal 300 16px/24px Helvetica;
}
#what-we-do {
  flex-direction: column;
  background: #354463;
}
#what-we-do #what-we-do-tit {
  align-self: flex-start;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  margin: 5%;
  background: #ffff;
  color: #354463;
}
#mission-info {
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 4%;
}
#what-we-do h2 {
  text-align: center;
  font: normal normal bold 44px/56px Helvetica;
  color: #ffff;
}
#read-more-section {
  padding: 5%;
  overflow: hidden;
  justify-content: center;
}
#read-more-section #button {
  max-width: 70%;
}
#read-more-section div {
  position: relative;
  text-align: left;
  margin: 5%;
  padding: 1%;
  background: #ffff;
  color: #354463;
}
#read-more-section div h3 {
  text-align: left;
  font: normal normal bold 28px/36px Helvetica;
}
#read-more-section div p {
  font: normal normal 16px/24px Helvetica;
}
#read-more-section #img {
  background: transparent;
  position: relative;
  display: block;
  transform: translate(5%, -30%);
}
#hunger-issue-section {
  background: transparent url("../img/home/did-you-know-background.png") center /
    cover;
  justify-content: center;
}
#hunger-issue {
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
#hunger-issue h2 {
  font: normal normal normal 500% Flood-Std;
  color: #ffff;
}
#hunger-issue button {
  align-self: flex-start;
  max-width: 40%;
}
#hunger-issue #br2 {
  display: none;
}
#did-you-know-block {
  flex-direction: column;
  margin: 2%;
  margin-bottom: 4%;
}
#did-you-know {
  align-self: flex-start;
  background: #354463;
  position: relative;
  display: block;
  transform: translate(40%, 80%);
  padding: 3%;
  color: #ffff;
}
.did-you-know-info {
  background: #ffff;
  color: #354463;
  margin: 3%;
  padding: 8%;
}
.did-you-know-info div {
  padding-left: 2%;
}
.did-you-know-info h3 {
  font: normal normal bold 44px/56px Helvetica;
}
.icon {
  flex-direction: column;
  justify-content: center;
}
.icon div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 10%;
  background: #c1f7d5;
  border-radius: 100%;
}
.stories-section {
  padding: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content: space-around;
}
.stories-left {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: transparent;
}
.stories-left .stories {
  flex-direction: column;
  background: #354463;
  color: #ffff;
  padding: 8%;
  min-width: 120%;
  z-index: 1;
}
.stories-left button {
  max-width: 30%;
}
.stories-left .stories a {
  color: #ffff;
  font-size: small;
}
.stories-left .stories h3 {
  color: #ffff;
  font: bold 32px helvetica;
}
.stories-right {
  flex-direction: column;
}
#stories-top {
  background-color: #354463;
  color: #ffff;
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  align-self: flex-start;
  transform: translate(40%, 50%);
}
.take-action {
  flex-direction: column;
  background: #354463;
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;
  color: #ffff;
}
.take-action img {
  max-width: 60%;
}
.take-action h2 {
  font: normal normal normal 72px/76px Flood-Std;
  padding-top: 2%;
  padding-bottom: 2%;
}
.take-action-1 {
  padding-top: 4%;
  padding-bottom: 4%;
}
.take-action h5 {
  background: #ffff;
  color: #354463;
  padding: 5%;
  padding-left: 15%;
  padding-right: 15%;
}
#hide-desk {
  display: none;
}
.take-action-1 h3 {
  padding-top: 10%;
  padding-bottom: 10%;
  font: normal normal bold 40px Helvetica;
}
.take-action-1 p {
  font: normal normal 16px Helvetica;
  padding-bottom: 10%;
  line-height: 150%;
}
.take-action-1 button {
  max-width: 40%;
}
.take-action-1 .container {
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  margin-left: 8%;
  margin-right: 2%;
}
.take-action-2 .container {
  margin-left: 0%;
  margin-right: 8%;
}
.subscribe {
  background: #c1f7d5;
  padding: 4%;
  padding-left: 8%;
  padding-right: 8%;
  color: #354463;
  justify-content: center;
}
.subscribe h2 {
  margin-left: 2%;
  margin-right: 2%;
  font: normal normal bold 28px/36px Helvetica;
}
.subscribe #email {
  min-width: 40%;
  display: flex;
}
.subscribe button {
  max-width: 35%;
  background-color: #354463;
  margin-left: 2%;
  color: #c1f7d5;
}
.subscribe input {
  display: block;
  top: 6022px;
  left: 736px;
  width: 50%;
  height: 48px;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
  border: none;
  border-radius: 100px;
}
#footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
  font: normal normal 300 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
}
#footer .foot-tag {
  min-width: 90%;
  max-width: 90%;
}
#footer div {
  max-width: 40%;
  min-width: 40%;
  padding: 5%;
}
#footer #branding {
  text-align: left;
  padding-top: 0px;
  line-height: 1.3;
}
span {
  display: block;
}
.foot-tag h1 {
  text-align: right;
  font: normal normal normal 32px/46px Flood-Std;
  opacity: 1;
}
@media only screen and (min-width: 760px) and (max-width: 1025px) {
  #the-issue p {
    transform: translateY(-14%);
  }
  #head {
    padding-left: 10%;
    padding-right: 10%;
  }
  .container #donate {
    min-width: 25%;
    max-width: 25%;
  }
  #branding-container nav {
    max-width: 100%;
    min-width: 100%;
    padding-top: 2%;
    padding-bottom: 4%;
    display: flex;
    justify-content: space-between;
  }
  #branding-container {
    flex-direction: column;
    flex-grow: 1;
    margin-right: 10%;
    align-items: flex-start;
  }
  #section-the-issue {
    flex-direction: column-reverse;
  }
  #the-issue {
    min-width: 80%;
  }
  #the-issue h5 {
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    transform: translateY(-160%);
  }
  #the-issue p {
    transform: translateY(-25%);
    font: bold 40px helvetica;
  }
  #stop {
    margin: 0%;
    margin-left: 10%;
  }
  #inner-take-action-section div {
    min-width: 40%;
    padding-bottom: 2%;
  }
  #read-more-section {
    flex-direction: column;
  }
  .read-more-in {
    display: flex;
    flex-wrap: wrap;
  }
  .read-more-in div {
    max-width: 40%;
  }
  #read-more-section #img {
    transform: translate(-10%, -30%);
  }
  .read-more-in #button {
    transform: translate(-180%, -100%);
  }
  .stories-section {
    flex-direction: column-reverse;
  }
  .hide-mobile {
    display: none;
  }
  .stories-left .stories {
    min-width: 0%;
  }
  .stories-left {
    transform: translate(15%, -10%);
    z-index: 1;
    max-width: 80%;
    margin: 0%;
    padding: 0%;
    flex-grow: 0;
  }
  .stories-right {
    transform: translate(-20%, 0%);
  }
  .take-action img {
    align-self: flex-start;
  }
  .take-action-1 h3 {
    font: normal normal bold 20px Helvetica;
  }
  .take-action-1 p {
    font: normal normal 16px Helvetica;
  }
  .take-action-1 button {
    min-width: 80%;
  }
  .subscribe {
    flex-direction: column;
  }
  .subscribe #email {
    padding-top: 4%;
    min-width: 80%;
  }
  #footer .foot-tag {
    justify-content: flex-end;
    min-width: 20%;
    max-width: 20%;
  }
  #footer .learn {
    padding-left: 35%;
    min-width: 60%;
    max-width: 60%;
  }
  #footer div {
    max-width: 30%;
    min-width: 30%;
  }
}
@media (min-width: 1025px) {
  #footer div {
    max-width: 15%;
    min-width: 15%;
    padding: 0;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  #footer {
    flex-wrap: nowrap;
    padding-left: 5%;
    padding-right: 5%;
  }
  #footer span {
    display: inline;
  }
  #footer .foot-tag {
    min-width: 15%;
    max-width: 15%;
  }
}
@media (max-width: 760px) {
  #the-issue p {
    transform: translateY(-14%);
  }
  #head {
    flex-direction: column;
  }
  .container #donate {
    min-width: 70%;
    max-width: 70%;
    margin-bottom: 5%;
  }
  #branding-container {
    margin: 5%;
    padding: 0%;
    padding-left: 10%;
    display: flex;
    min-width: 100%;
    max-width: 100%;
    justify-content: space-around;
  }
  #a {
    margin-top: 5%;
    display: block;
  }
  #nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  #branding {
    font: normal normal bold 22px Helvetica;
    flex-grow: 1;
  }
  #section-the-issue {
    flex-direction: column-reverse;
  }
  #the-issue {
    min-width: 80%;
    text-align: center;
  }
  #the-issue h5 {
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    transform: translateY(-120%);
  }
  #the-issue p {
    font: normal normal bold 22px/28px Helvetica;
  }
  #stop {
    margin: 0%;
    margin-left: 10%;
  }
  #inner-take-action-section div {
    min-width: 40%;
    padding-bottom: 2%;
  }
  #what-we-do #what-we-do-tit {
    align-self: center;
  }
  #mission-info h2 {
    font: normal normal bold 22px/28px Helvetica;
  }
  #read-more-section {
    flex-direction: column;
  }
  #read-more-section .read-more-in {
    display: flex;
    flex-direction: column;
  }
  #read-more-section .read-more-in div {
    flex-direction: column;
    text-align: center;
  }
  #read-more-section .read-more-in h3,
  p {
    text-align: center;
  }
  #read-more-section #img {
    transform: none;
  }
  #read-more-section #img img {
    max-width: 100%;
  }
  #hunger-issue-section {
    flex-direction: column;
  }
  #hunger-issue h2 {
    font: normal normal normal 44px/46px Flood-Std;
    padding-bottom: 10%;
  }
  #hunger-issue #br1 {
    display: none;
  }
  #did-you-know {
    align-self: center;
    transform: translateY(70%);
  }
  .stories-section {
    flex-direction: column-reverse;
  }
  .hide-mobile {
    display: none;
  }
  .stories-section {
    padding: 0%;
    padding-top: 2%;
    padding-bottom: 4%;
    margin: 8%;
    margin-bottom: 0%;
    text-align: center;
  }
  .stories-right img {
    max-width: 100%;
    padding-bottom: 10%;
  }
  #stories-top {
    align-self: center;
    transform: none;
    padding: 4%;
    padding-left: 15%;
    padding-right: 15%;
    transform: translateY(50%);
  }
  .stories-left .stories {
    min-width: 0%;
  }
  .stories-left button {
    align-self: center;
    min-width: 40%;
    margin: 10%;
  }
  .stories-left {
    transform: none;
    z-index: 1;
    margin: 0%;
    padding: 0%;
    min-width: 100%;
  }
  .stories-right {
    transform: none;
  }
  .take-action {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .take-action h2 {
    text-align: left;
    font: normal normal normal 44px/46px Flood-Std;
  }
  .take-action-1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .take-action img {
    min-width: 95%;
  }
  .take-action #hide-desk {
    display: block;
    display: initial;
    background: #ffff;
    color: #354463;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
    transform: translateY(50%);
  }
  #hide-mobile {
    display: none;
  }
  .take-action h3 {
    font: normal normal bold 20px Helvetica;
  }
  .take-action p {
    font: normal normal 16px Helvetica;
  }
  .take-action button {
    min-width: 80%;
    align-self: center;
  }
  .take-action-2 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .take-action-2,
  .take-action-1 .container {
    margin: 0%;
  }
  .subscribe {
    flex-direction: column;
    min-width: 100%;
    text-align: center;
  }
  .subscribe h2 {
    font: normal normal bold 22px/28px Helvetica;
  }
  .subscribe #email {
    padding-top: 4%;
    min-width: 100%;
  }
  #email input {
    min-width: 60%;
  }
.subscribe button {
  font-size: small;
}
}
