* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100%;
  min-width: 100%;
  font-family: Helvetica;
}
#error-message {
  display: none;
  position: fixed;
  text-align: center;
  margin-top: 2%;
  overflow-x: hidden;
  padding: 2%;
  color: #ffffff;
  background-color: #ff0033;
}
a {
  text-decoration: none;
  color: #c1f7d5;
}
ul {
  list-style: none;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
}
#branding {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #354463;
}
#middlesection {
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  background: #354463 url("../img/donation/annie-spratt-427340-unsplash.png")
    center / cover;
}
#bodyhead {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  font: normal normal normal 32px/46px Flood-Std;
  color: #ffffff;
  opacity: 1;
}
#bodyhead span {
  font: normal normal normal 32px/46px Flood-Std;
  display: inline;
}
#form {
  background: #354463 0% 0% no-repeat padding-box;
  color: #ffffff;
  opacity: 1;
  justify-content: space-around;
  flex-direction: column;
  padding: 32px;
  max-width: 85%;
  min-width: auto;
}
#form div {
  padding-top: 10px;
}
label {
  text-transform: uppercase;
  font: normal normal normal 11px/13px Helvetica;
}
input {
  background-color: transparent;
  border: 0px solid;
  border-bottom: 2px solid #c1f7d5;
  text-transform: capitalize;
}
input:focus {
  outline: none;
}
button {
  top: 912px;
  left: 64px;
  width: 249px;
  height: 49px;
  background: #c1f7d5 0% 0% no-repeat padding-box;
  border-radius: 100px;
  opacity: 1;
  border: 0px;
}
.align-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 80%;
  min-width: 80;
}
.align-horizontal .name {
  padding: 0px;
  min-width: 45%;
  max-width: 45%;
}
.align-horizontal #city {
  padding: 0px;
  max-width: 40%;
  min-width: 40%;
}
.align-horizontal #state {
  padding: 0px;
  max-width: 25%;
  min-width: 25%;
}
.align-horizontal #zip {
  padding: 0px;
  max-width: 25%;
  min-width: 25%;
}
.align-horizontal #mm {
  padding: 0px;
  max-width: 20%;
  min-width: 20%;
}
.align-horizontal #yyyy {
  padding: 0px;
  max-width: 20%;
  min-width: 20%;
}
.align-horizontal #cvc {
  padding: 0px;
  max-width: 40%;
  min-width: 40%;
}
#footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
  font: normal normal 300 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
}
#footer .foot-tag {
  min-width: 90%;
  max-width: 90%;
}
#footer div {
  max-width: 40%;
  min-width: 40%;
  padding: 5%;
}
#footer #branding {
  text-align: left;
  padding-top: 0px;
  line-height: 1.3;
}
span {
  display: block;
}
.foot-tag h1 {
  text-align: right;
  font: normal normal normal 32px/46px Flood-Std;
  opacity: 1;
}
@media only screen and (min-width: 600px) and (max-width: 1025px) {
  #footer .foot-tag {
    justify-content: flex-end;
    min-width: 20%;
    max-width: 20%;
  }
  #footer .learn {
    padding-left: 35%;
    min-width: 60%;
    max-width: 60%;
  }
  #footer div {
    max-width: 30%;
    min-width: 30%;
  }
  #pay {
    max-width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-items: center;
  }
  #pay div {
    max-width: 50%;
    min-width: 50%;
  }
  #pay #back {
    align-self: center;
  }
  #form div {
    padding-top: 5%;
  }
}
@media (min-width: 1025px) {
  #bre {
    display: none;
  }
  #footer div {
    max-width: 15%;
    min-width: 15%;
    padding: 0;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  #footer {
    flex-wrap: nowrap;
    padding-left: 5%;
    padding-right: 5%;
  }
  #footer span {
    display: inline;
  }
  #footer .foot-tag {
    min-width: 15%;
    max-width: 15%;
  }
  #pay {
    max-width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-items: center;
  }
  #pay div {
    max-width: 50%;
    min-width: 50%;
  }
  #pay #back {
    align-self: center;
  }
  #middlesection {
    flex-direction: row-reverse;
  }
  #middlesection #form-outer {
    padding: 5%;
    padding-right: 0;
    max-width: 70%;
    min-width: 70%;
  }
  #middlesection #tag-line {
    max-width: 30%;
    min-width: 30%;
    padding-top: 4%;
    align-self: flex-start;
  }
  #bodyhead {
    text-align: left;
    font: normal normal normal 72px/76px Flood-Std;
  }
  #bodyhead span {
    display: block;
    font: normal normal normal 72px/76px Flood-Std;
  }
  #form {
    padding: 5%;
    min-width: 70%;
    max-width: 70%;
  }
  #form div {
    padding-top: 5%;
  }
}
